[project]
	description = Utility classes for unified communications / telecoms
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/peterpangl
[access "refs/for/refs/*"]
	read = group user/peterpangl
	push = group user/peterpangl
	label-Code-Review = -2..+2 group user/peterpangl
	label-Verified = -1..+1 group user/peterpangl
	rebase = group user/peterpangl
	removeReviewer = group user/peterpangl
	submit = group user/peterpangl
[access "refs/heads/*"]
	read = group user/peterpangl
	create = group user/peterpangl
	push = +force group user/peterpangl
	pushMerge = group user/peterpangl
[access "refs/tags/*"]
	push = +force group user/peterpangl
	pushTag = group user/peterpangl
	pushSignedTag = group user/peterpangl
